body {
    margin 0;
    margin-top: 50px;
    font-family:sans-serif;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color:teal;
    color: whitesmoke;
}
header *{
    display: inline;
    height:50px;
    
}
header ul {
    padding: 0;
}
    header li{
        margin-left: 20px;
    }
section{
    height: 100vh;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;


}
.button{
    border: none;
    color:indianred;
    padding: 15px 20px;
    margin: 2px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: darkslateblue;
    
}
.background {
    color: peachpuff;
}
.profile-img{
    width: 200px;px;
    height:250px;
    position:fixed;
}

    #about {
        background-color: peru;
    }
    #contact {
        background-color: rosybrown;
    }


footer{
    text-align: center;
    padding:50px;
}
header a {
    text-decoration: tomato;
    color: greenyellow;
}